@import components/mixin
@import components/bootstrap.min.css

html 
    font-size: 1px
body 
    margin: 0 auto
    font-family: 'Rubik', sans-serif
    background-color: #f5f8fa
html,
body 
    scroll-behavior: smooth
.wrapper
    margin: 0 auto
    width: 90%
.flex 
    display: flex

.orange 
    +btn("orange")
.transparent 
    +btn("transparent")
ul 
    list-style: none
hr 
    margin-top: 70rem
    margin-bottom: 70rem
a 
    text-decoration: none

    




@import components/header
@import components/main
@import components/footer