
section.one
    .wrapper
        .header
            .top.flex
                .logo.flex
                    img(src='img/logo.png') 
                    p trips 
                .hamburger 
                    span 
                    span 
                    span
                    
                nav.navmenu
                    ul.top-menu.flex#menu
                        +menu(mainMenu)
            
            .title-header.wrapper
                h1 Морські пригоди
                p Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними! 
                a(href="#" class="orange") детальніше
                h2 обери свій план подорожі
                p.firm Наша фірма -лідер на ринку у своїй сфері
                .beff
                    a(href="#main" class="strilka")