.main 
    background-color: #f5f8fa
.our-company 
    h2 
        font-size: 36px
        text-transform: uppercase
        letter-spacing: 1px
        line-height: 40px
        color: #333333
        font-weight: 400
    h3 
        font-size: 16px
        color: #555555
        font-weight: 400
        font-style: italic 
    p 
        font-size: 13px
        color: #bbbbbb
        font-weight: 400
.card 
    margin: 10rem 20rem
    padding: 40rem 0
    width: 270rem 
    text-align: center
    &:hover 
        filter: drop-shadow(0rem 4rem 10.5rem rgba(3,20,31,0.05))
        background-color: #ffffff
    
.price 
    font-size: 24rem
    color: #0099ff
    font-weight: 400
    font-family: "Rubik"
    text-align: center
.card-descr
    font-size: 13rem
    color: #999999
    font-weight: 400
    text-align: left
.in 
    font-size: 18rem
    color: #333333
    font-weight: 400